<app-history [sensorHistory]=sensorHistory [sensorId]=sensorId [sensorFormattedAddress]=sensorFormattedAddress></app-history>
<button md-raised-button (click)="dialogRef.close()">{{ "CloseDialog" | translate }}</button>
