<p *ngIf="!error">
    <chart [options]="options"
       (selection)="onChartSelection($event)">
</chart>
</p>
<div *ngIf="from">
    <span class="selection-section">selection from <b>{{from}}</b> to <b>{{to}}</b></span>
</div>

<p *ngIf="error">{{error}}</p>
