.mat-input-container {
    margin: auto;
    text-align: center;
    width: 100%;
}

.oneSensorData {
    p, weather-card {
        margin: 10px auto 0 auto;
    }
    weather-card {
        height: 325px;
    }
}

.fav-stations {
    margin: 10px auto 10px auto;
}

