<div class="flexblock flex-column m-t-20">
    <md-input-container>
        <input mdInput
               placeholder="{{ 'SelectPlaceholder' | translate }}"
               [mdAutocomplete]="auto"
               [formControl]="sensorCtrl"
               [(ngModel)]="chosenSensor"
               (ngModelChange)="onChangeSensorStation($event)"
                class="text-center">
    </md-input-container>
    <md-checkbox
        color="primary"
        value="chosenSensor"
        [(ngModel)]="checkFavouriteField"
        (ngModelChange)="onChangeFavouriteList($event, chosenSensor)">{{ "AddToFavourites" | translate }}</md-checkbox>
    <md-autocomplete
        #auto="mdAutocomplete"
        [displayWith]="displayAddressOnly">
        <md-option *ngFor="let sensor of filteredAddresses | async" [value]="sensor">
            {{ sensor.formattedAddress }}
        </md-option>
    </md-autocomplete>
</div>

<div class="flexblock flex-column oneSensorData">
    <p>{{ "DataFromOneSensor" | translate }}:</p>
    <div *ngIf="!oneSensorData">{{ "SensorNotSelected" | translate }}</div>
    <weather-card *ngIf="oneSensorData"
                  sensorAddress="{{oneSensorData.formattedAddress}}"
                  airQualityIndex="{{oneSensorData.airQualityIndex | number : '1.0-0'}}"
                  pm1="{{oneSensorData.pm1 | number : '1.0-0'}}"
                  pm10="{{oneSensorData.pm10 | number : '1.0-0'}}"
                  pm25="{{oneSensorData.pm25 | number : '1.0-0'}}"
                  pressure="{{oneSensorData.pressure | Pressure}}"
                  humidity="{{oneSensorData.humidity | number : '1.0-0'}}"
                  temperature="{{oneSensorData.temperature | number : '1.0-0' }}"
                  pollutionLevel="{{oneSensorData.pollutionLevel | number : '1.0-0'}}"
                  sensorId="{{oneSensorData.id}}"
                  [sensorHistory]=historyOneSensorData>
    </weather-card>
</div>

<div class="flexblock flex-column">
    <p class="fav-stations">{{ "Favourites" | translate }}:</p>
    <div *ngIf="(favouriteSensorStationsObjects | json) === '{}'">
        {{ "NoFavouritesStations" | translate}}
    </div>
    <div class="flexblock flex-row flex-wrap no-margin">
        <weather-card *ngFor="let key of favouriteSensorStationsObjects | ObjNgFor"
                      sensorAddress="{{favouriteSensorStationsObjects[key].formattedAddress}}"
                      airQualityIndex="{{favouriteSensorStationsObjects[key].airQualityIndex | number : '1.0-0'}}"
                      pm1="{{favouriteSensorStationsObjects[key].pm1 | number : '1.0-0'}}"
                      pm10="{{favouriteSensorStationsObjects[key].pm10 | number : '1.0-0'}}"
                      pm25="{{favouriteSensorStationsObjects[key].pm25 | number : '1.0-0'}}"
                      pressure="{{favouriteSensorStationsObjects[key].pressure | Pressure}}"
                      humidity="{{favouriteSensorStationsObjects[key].humidity | number : '1.0-0'}}"
                      temperature="{{favouriteSensorStationsObjects[key].temperature | number : '1.0-0' }}"
                      pollutionLevel="{{favouriteSensorStationsObjects[key].pollutionLevel | number : '1.0-0'}}"
                      sensorId="{{key}}"
                      [sensorHistory]=historySensorStationsObjects
                      (removeItemFromFavouriteList)="removeItemFromFavouriteList($event)"
                      removeButtonEnabled="true">
        </weather-card>
    </div>
</div>
