.example-card {

}

.parameter-value{
    float: left;
    font-size: 14px;
    margin: 0 3px 0 7px;
    font-weight: 700;
}
.parameter-name, .parameter-unit{
  float:left;
  font-size:14px;
}

.parameter-item {
    font-size: 14px;
    width: 45%;
}

.panel-green .parameter-item {
    color: #5cb85c;
    border: 1px solid #5cb85c;
    margin: 5px;
    padding: 2px;
    font-weight: 500;
    float:left;
}
.panel-yellow .parameter-item {
    color: #f0ad4e;
    border: 1px solid #f0ad4e;
    margin: 5px;
    padding: 2px;
    font-weight: 500;
    float:left;
}

.panel-red .parameter-item {
    color: #d9534f;
    border: 1px solid #d9534f;
    margin: 5px;
    padding: 2px;
    font-weight: 500;
    float:left;
}
.panel-green .historyButton {
    color: #5cb85c;
    border: 1px solid #5cb85c;
    margin: 5px;
    padding: 2px;
    font-weight: 700;
}
.panel-yellow .historyButton {
    color: #f0ad4e;
    border: 1px solid #f0ad4e;
    margin: 5px;
    padding: 2px;
    font-weight: 700;
}

.panel-red .historyButton {
    color: #d9534f;
    border: 1px solid #d9534f;
    margin: 5px;
    padding: 2px;
    font-weight: 700;
}

.panel-gray {
  border-color: #999999;
}
.panel-gray > .panel-heading {
  border-color: #999999;
  color: white;
  background-color: #999999;
}
.panel-gray > a {
  color: #999999;
}
.panel-gray > a:hover {
  color: #999999;
}

.panel-gray .parameter-item {
    color: #999999;
    border: 1px solid #999999;
    margin: 5px;
    padding: 2px;
    font-weight: 500;
    float:left;
}
.panel-gray .historyButton {
    color: #999999;
    border: 1px solid #999999;
    margin: 5px;
    padding: 2px;
    font-weight: 700;
}

md-card.mat-card {
    display: flex;
    flex-direction: column;
    min-height: 273px;
    md-card-content {
        min-height: 100px;
        margin: auto;
    }
}
