<md-card class="example-card panel" [ngClass]="getCSSClasses()">
    <!--{{data | json }}-->
  <!--  <md-tab-group>
        <md-tab label="{{stationId}}">Content 1</md-tab>
        <md-tab *ngIf="weatherTabs === 'true'" label="Moje lokalizacje">Content 2</md-tab>
    </md-tab-group>-->
  <md-card-header class="panel-heading">
    <!--<div md-card-avatar class="example-header-image"></div>-->
    <md-card-title>{{sensorAddress}}</md-card-title>
    <!--<md-card-subtitle>{{weatherSubTitle}}</md-card-subtitle>-->
  </md-card-header>
  <!--<img md-card-image src="../assets/images/{{weatherImage}}">-->
  <md-card-content>
      <div class="parameter-item" *ngIf="pm1">
        <div class="parameter-name">PM1</div>
        <div class="parameter-value">{{pm1}}</div>
        <div class="parameter-unit">μg/m3</div>
      </div>
      <div class="parameter-item" *ngIf="pm25">
        <div class="parameter-name">PM2.5</div>
        <div class="parameter-value">{{pm25}}</div>
        <div class="parameter-unit">μg/m3</div>
      </div>
      <div class="parameter-item" *ngIf="pm10">
        <div class="parameter-name">PM10</div>
        <div class="parameter-value">{{pm10}}</div>
        <div class="parameter-unit">μg/m3</div>
      </div>
      <div class="parameter-item" *ngIf="pressure">
        <div class="parameter-name">PRES</div>
        <div class="parameter-value">{{pressure}}</div>
        <div class="parameter-unit">hPa</div>
      </div>
      <div class="parameter-item" *ngIf="temperature">
        <div class="parameter-name">TEMP</div>
        <div class="parameter-value">{{temperature}}</div>
        <div class="parameter-unit">°C</div>
      </div>
      <div class="parameter-item" *ngIf="humidity">
        <div class="parameter-name">HUM</div>
        <div class="parameter-value">{{humidity}}</div>
        <div class="parameter-unit">%</div>
      </div>
      <div *ngIf="pollutionLevel == 0">
          Sensor disabled.
      </div>
  </md-card-content>
  <md-card-actions class="text-right">
    <button (click)="openDialog()" md-button class="historyButton">{{ "History" | translate }}</button>
    <button (click)='removeItemFromFavList(sensorId)' md-button class="historyButton" *ngIf="removeButtonEnabled">{{ "RemoveFromFavourites" | translate }}</button>
  </md-card-actions>
</md-card>
