<div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">{{ "ToggleNavigation" | translate }}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"  [routerLink]="['favourites']" routerLinkActive="active">WeatherApp</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <span class="language-text">{{ "ChangeLanguage" | translate }}:</span>
                <li>
                    <button type="button" (click)="changeLang('en')" class="flags">
                        <img src="assets/images/flag_en.png"/>
                    </button>
                </li>
                <li>
                    <button type="button" (click)="changeLang('pl')" class="flags">
                        <img src="assets/images/pl.gif"/>
                    </button>
                </li>
                </ul>

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a [routerLink]="['favourites']" routerLinkActive="active"><i class="fa fa-dashboard fa-fw"></i> {{ "MyLocalizationsMenu" | translate }}</a>
                        </li>
                        <li>
                            <a [routerLink]="['sensors']" routerLinkActive="active"><i class="fa fa-bar-chart-o fa-fw"></i> {{ "AllSensorsMenu" | translate }}</a>
                        </li>
                    </ul>
                    
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
      <div id="page-wrapper">
            <router-outlet></router-outlet>
    </div>
</div>