<p *ngIf="sensorsNotFound">
    <span class="text-center">{{ "SensorsNotFound" | translate }}</span>
</p>
<p *ngIf="!geoLocation?.latitude" class="text-center flexblock full-width">
    <span class="text-center">{{ "GeolocationDisabled" | translate }}</span>
</p>
<p *ngIf="geoLocation?.latitude" class="text-center flexblock full-width">
    <span class="text-center">{{ "NearestSensorsBelow" | translate }}</span>
</p>
<weather-card *ngFor="let key of SensorStationsObjectsByGeo | ObjNgFor"
        sensorAddress="{{SensorStationsObjectsByGeo[key].formattedAddress}}"
        airQualityIndex="{{SensorStationsObjectsByGeo[key].airQualityIndex | number : '1.0-0'}}"
        pm1="{{SensorStationsObjectsByGeo[key].pm1 | number : '1.0-0'}}"
        pm10="{{SensorStationsObjectsByGeo[key].pm10 | number : '1.0-0'}}"
        pm25="{{SensorStationsObjectsByGeo[key].pm25 | number : '1.0-0'}}"
        pressure="{{SensorStationsObjectsByGeo[key].pressure | Pressure}}"
        humidity="{{SensorStationsObjectsByGeo[key].humidity | number : '1.0-0'}}"
        temperature="{{SensorStationsObjectsByGeo[key].temperature | number : '1.0-0' }}"
        pollutionLevel="{{SensorStationsObjectsByGeo[key].pollutionLevel | number : '1.0-0'}}"
        sensorId="{{key}}"
        [sensorHistory]=historySensorStationsObjects>
</weather-card>

<weather-card *ngFor="let key of favouriteSensorStationsObjects | ObjNgFor"
              sensorAddress="{{favouriteSensorStationsObjects[key].formattedAddress}}"
              airQualityIndex="{{favouriteSensorStationsObjects[key].airQualityIndex | number : '1.0-0'}}"
              pm1="{{favouriteSensorStationsObjects[key].pm1 | number : '1.0-0'}}"
              pm10="{{favouriteSensorStationsObjects[key].pm10 | number : '1.0-0'}}"
              pm25="{{favouriteSensorStationsObjects[key].pm25 | number : '1.0-0'}}"
              pressure="{{favouriteSensorStationsObjects[key].pressure | Pressure}}"
              humidity="{{favouriteSensorStationsObjects[key].humidity | number : '1.0-0'}}"
              temperature="{{favouriteSensorStationsObjects[key].temperature | number : '1.0-0' }}"
              pollutionLevel="{{favouriteSensorStationsObjects[key].pollutionLevel | number : '1.0-0'}}"
              sensorId="{{key}}"
              [sensorHistory]=historySensorStationsObjects
              (removeItemFromFavouriteList)="removeItemFromFavouriteList($event)"
              removeButtonEnabled="true">
</weather-card>
