@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    background: #f2f2f2;
    app-root {
        overflow: hidden;
    }
    app-root,
    app-sensors,
    favourites,
    md-card-content,
    .mat-card-content{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

app-sensors {
    flex-direction: column;
    weather-card,
    md-checkbox{
        margin: auto;
    }
}

weather-card {
    width: 30%;
}

.flexblock {
    display: flex;
    div, span, ul, li,
    h1, a, p {
        margin: auto;
    }
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

ul {
    li {
        list-style-type: none;
    }
}

div .no-margin {
    margin: 0;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0!important;
}

.m-b-0 {
    margin-bottom: 0!important;
}

.m-t-0 {
    margin-top: 0!important;
}

.m-t-20 {
    margin-top: 20px;
}

.full-size {
    height: 100%!important;
    width: 100%!important;
}

.no-border {
    border: 0!important;
}

.full-width {
    width: 100%!important;
}

.full-height {
    height: 100%!important;
}

.f-w-300 {
    font-weight: 300;
}

.header-font {
    font-family: 'Montserrat', sans-serif;
    font-size: 6vh;
    font-weight: 300;
}

.header-medium-font {
    font-family: 'Montserrat', sans-serif;
    font-size: 5vh;
    font-weight: 300;
}

.content-medium-font {
    font-size: 2.6vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.content-small-font {
    font-size: 2vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

// to sensors blue line
.mat-input-underline .mat-input-ripple {
    left: 0;
}

md-input-container {
    .mat-input-wrapper {
        span {
            .mat-focused .mat-input-placeholder.mat-float, .mat-input-placeholder.mat-float:not(.mat-empty) {
                transform: none;
            }
            label {
                padding: 0;
                font-size: 75%;
                transform: none;
                display: block;
            }
        }
    }
}

md-option.mat-option {
    text-align: center;
}

@media(max-width: 1080px) {
    .content-medium-font {
        font-size: 2vh;
    }
    weather-card {
        width: 90%;
    }
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
